.wrap{
    width: 1200px;
    height: 700px;
    background-color: rgb(68, 76, 106);
    margin: 0 auto;
}
.form-group{
    width: 720px;
    margin: 10px auto;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
}
.p1{
    font-size: 40px;
    text-align: center;
    color: #cccccc;
   box-sizing: border-box;
   padding-top: 30px;
}
.p2{
    font-size: 15px;
    text-align: center;
    color: #cccccc;
    text-decoration: underline;
    margin-top: 30px;
}
.p3{
    font-size: 40px;
    text-align: center;
    color: #cccccc;
    margin-top: -10px;
}
input{
    width: 80%;
    height: 60px;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 70px;
    border-top: 100px;
}
input[type=submit]{
    display: block;
    margin: 20px auto;
    background-color: #7982ee;
    color: #ffffff;
    width: 550px;
}
.img{
    width: 70px;
    height: 70px;
    background-color: white;
    border: 1px solid;
    border-radius: 70px;
    box-shadow: 0 10px 0 gray;
    display: inline-block;
    margin-left: 60px;
}
